body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f5f7fa;
    height: 100vh;
}

.banner {
    width: 100%;
    height: 200px;
    background: linear-gradient(135deg, #5A4FF0 0%, #A55DE0 40%, #7AB3E9 100%);
    margin-top: -50px;
}